.sidebar {
    width: 12%;
    min-height: 100%;
    background: #191718;
    left: 0;
}

.sb-list {
    height: 19px;
    left: 16px;
    top: 14px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:
    #AAAAAA;     
    padding: 10px 20px;
    border-bottom: 1px solid #5C5C5C;
}

.active {
    background: #5C5C5C;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 20%;
    }
}


@media only screen and (max-width: 600px) {
    .sidebar {
        width: 30%;
    }
}